@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
/* --------------------------------------------------------- Header ------------------------------------------------------ */

#before-header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00337c;
}
#before-header .inner-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
#before-header .inner-section .left .icon-box {
  display: flex;
  align-items: center;
}
#before-header .inner-section .left .icon-box .fa-solid {
  color: #fff;
  font-size: 20px;
  margin-right: 0.5rem;
}
#before-header .inner-section .left .icon-box .main-text {
  color: #fff;
}
#before-header .inner-section .right {
  display: flex;
}
#before-header .inner-section .right .icon-box {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
#before-header .inner-section .right #remove-extra {
  margin: 0;
}
#before-header .inner-section .right .icon-box .fa-brands,
.fa-solid {
  color: #fff;
  font-size: 25px;
  margin-right: 0.5rem;
}
#before-header .inner-section .right .icon-box .fa-solid {
  font-size: 20px;
}
#before-header .inner-section .right .icon-box .main-text {
  color: #fff;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  background-color: #1471c1;
}
#main-header .inner-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-header .inner-section .left .website-logo {
  height: 70px;
  width: 160px;
}
#main-header .inner-section .right .navigation {
  display: flex;
  align-items: center;
}
#main-header .inner-section .right .navigation .navigation-ul {
  margin-right: 1rem;
}
#main-header .inner-section .right .navigation .navigation-ul .nav-menus {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-right: 0.8rem;
}
#main-header .inner-section .right .main-header-btn button {
  padding: 12px 30px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #1471c1;
  font-weight: 600;
  cursor: pointer;
}
#main-header .inner-section .right .main-header-btn button:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  color: #fff;
  background: linear-gradient(
    1.6turn,
    rgb(79, 149, 209),
    rgb(138, 184, 224),
    rgb(197, 220, 240)
  );
}

#home {
  height: 90vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./image/friends-learning-grass.jpg) center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -3rem;
}
.home--inner-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-left {
  display: flex;
  flex-direction: column;
}
.home-left--para {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.home-left--primary-heading {
  margin: 1rem 0px;
  color: #fff;
  font-size: 70px;
  font-weight: 800;
  line-height: 80px;
}
.home-left--inner-section {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.icon-list {
  display: flex;
  margin: 10px 0px;
}
.icon-list .fa-solid {
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
}
.icon-list--text {
  color: #fff;
  font-size: 18px;
}
.home-left--btn {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.home-left--btn .primary-btn,
.secondary-btn {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #48e46f;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}
.home-left--btn .secondary-btn {
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
  color: #fff;
  padding: 10px 35px;
}
.home-left--btn .primary-btn:hover {
  filter: brightness(80%);
}
.home-left--btn .secondary-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  background-color: #fff;
  color: #1471c1;
}
.home--inner-section #home-right .inner-section--right {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.home--inner-section
  #home-right
  .inner-section--right
  .section--col
  .online-class--form {
  display: flex;
  flex-direction: column;
}
#home-right .inner-section--right .section--col {
  height: 560px;
  width: auto;
  background-color: #ababaa;
  padding: 3rem;
  border-radius: 20px;
}
#home-right .inner-section--right .section--col .primary-heading {
  color: #000;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 50px;
}
#home-right .inner-section--right .section--col .heading-span {
  font-size: 35px;
  font-weight: 800;
}
.inner-section--right .online-class--form #your-form-name,
#your-form-email,
#your-form-number {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 1.4rem;
  padding: 10px;
  border-bottom: 3px solid #1471c1;
  font-size: 18px;
  text-transform: uppercase;
}
.inner-section--right .online-class--form #your-form-name,
#your-form-email::placeholder {
  color: #000;
}
.inner-section--right .online-class--form #your-form-name::placeholder {
  color: #000;
}
.inner-section--right .online-class--form #your-form-number::placeholder {
  color: #000;
}
.inner-section--right .online-class--form #Form-submit {
  background-color: #1471c1;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.our-social-reviews {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
.our-social-reviews .inner-section-social-reviews {
  display: flex;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #00000059;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 30px 30px;
}
.our-social-reviews
  .inner-section-social-reviews
  .inner-section-social-reviews-img {
  width: 350px;
  height: 80px;
  border-radius: 50px;
}

/*------------------------------------------------ Service Page Top --------------------------------------*/

#online-class {
  height: 115vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./image/friends-learning-grass.jpg) center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#online-class .online-class-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-class-top .primary-heading {
  font-size: 70px;
  line-height: 77px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}
.online-class-top .para {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
#online-class .inner-section {
  width: 1400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.section--col #online-class--form {
  display: flex;
  flex-direction: column;
}
.inner-section .section--col {
  height: 530px;
  width: auto;
  background-color: #ababaa;
  padding: 3rem;
  border-radius: 20px;
}
.inner-section .primary-heading {
  color: #000000;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
}
.inner-section .heading-span {
  font-size: 35px;
  font-weight: 800;
}
.inner-section--left #online-class--form #form-name,
#form-email,
#form-number {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 1.4rem;
  padding: 10px;
  border-bottom: 3px solid #1471c1;
  font-size: 18px;
  text-transform: uppercase;
}
.inner-section--left #online-class--form #form-submit {
  background-color: #1471c1;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.inner-section--right .icon-list {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.inner-section--right .icon-list--text {
  font-size: 18px;
}
.inner-section--right .primary-btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background-color: #48e46f;
  border: 4px solid #48e46f;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.inner-section--right .primary-btn:hover {
  filter: brightness(80%);
  transition: all ease-in-out 0.3s;
  border: 4px solid #007e1f;
}
.inner-section--right .secondary-btn {
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
  color: #fff;
  padding: 15px 40px;
  margin-left: 1.5rem;
  font-size: 22px;
  font-weight: 600;
}
.inner-section--right .secondary-btn:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
  background-color: #fff;
  color: #1471c1;
}
.inner-section--right .inner-section--btn {
  margin-top: 2rem;
}

/*------------------------------------------------ Our Services --------------------------------------*/

.container {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__top,
.container__bottom {
  display: flex;
  flex-wrap: nowrap;
  width: 1200px;
  align-items: center;
  justify-content: center;
}

.box {
  flex: 1;
  padding: 50px;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 7px #000000;
  background-color: #fff;
  border-radius: 10px;
}
.box:hover {
  border-top: 3px solid #1471c1;
  transition: all 0.3s ease;
}
.container__top .box__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container__top .box__icon {
  font-size: 25px;
}
.container__bottom .box__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container__bottom .box__icon {
  font-size: 25px;
}
.container .box__button {
  background-color: #48e36e;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
}
.container .box__button:hover {
  filter: brightness(1.1);
}

/*-----------------------------------------  Why Us  -----------------------------------*/

#why-us {
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us--top .primary-heading {
  font-size: 40px;
  line-height: 77px;
  color: #1471c1;
  font-weight: 800;
}
.why-us--top .para {
  font-weight: 500;
}
#why-us .why-us--inner-section {
  width: 1200px;
  display: flex;
  margin-top: 4rem;
}
.why-us--inner-section .left {
  width: 50%;
}
.why-us--inner-section .left .icon-box .plagiarism {
  font-size: 25px;
  color: #053760;
  background-color: #e1e8ed;
  padding: 10px 20px;
  border-radius: 100%;
}
.why-us--inner-section .left .icon-box .primary-heading {
  font-size: 25px;
  line-height: 60px;
  font-weight: 600;
}
.why-us--inner-section .left .icon-box .para {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
  width: 90%;
}
.why-us--inner-section .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #053760;
  padding: 2rem;
  border-radius: 10px;
}
.why-us--inner-section .right .top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.why-us--inner-section .right .top .primary-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
}
.why-us--inner-section .right .inner-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.why-us--inner-section--inner-section-left .icon-box .icon-with-text {
  margin-bottom: 1.5rem;
}
.why-us--inner-section--inner-section-left
  .icon-box
  .icon-with-text
  .price-icon {
  display: flex;
  align-items: center;
}
.why-us--inner-section--inner-section-left
  .icon-box
  .icon-with-text
  .price-icon
  .fa-circle-check {
  font-size: 20px;
  color: #fff;
  margin-right: 0.5rem;
}
.why-us--inner-section--inner-section-left
  .icon-box
  .icon-with-text
  .price-icon
  .main-text {
  color: #fff;
  font-size: 18px;
}
.why-us--inner-section--inner-section-right .main-text {
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: #1471c1;
}
.why-us--inner-section--inner-section-right
  .main-text
  .why-us--inner-section---span {
  color: #fff;
}
.why-us--inner-section--inner-section-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.why-us--inner-section--inner-section-bottom .why-us--bottom-btn {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background-color: #48e46f;
  border: 4px solid #48e46f;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.why-us--inner-section--inner-section-bottom .why-us--bottom-btn:hover {
  filter: brightness(80%);
  transition: all ease-in-out 0.3s;
  border: 4px solid #007e1f;
}

#pricing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing .pricing-inner-section {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pricing .pricing-inner-section .boxes {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  flex-grow: 1;
  margin: 2rem 1rem 2rem 0px;
  padding: 2rem;
  border-radius: 10px;
}
#pricing .pricing-inner-section .boxes .primary-heading {
  font-size: 22px;
  font-weight: 500;
}
#pricing .pricing-inner-section .boxes .price {
  font-size: 50px;
  color: #053760;
}
#pricing .pricing-inner-section .boxes .price .price-super-script {
  font-size: 22px;
}
#pricing .pricing-inner-section .boxes .price .price-sub-script {
  font-size: 16px;
  margin-left: -0.6rem;
}
#pricing .pricing-inner-section .boxes .para {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}
#pricing .pricing-inner-section .boxes .middle .icon-box {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}
#pricing .pricing-inner-section .boxes .middle .icon-box .fa-solid {
  color: #053760;
  font-size: 20px;
  background-color: #ababaa;
  padding: 10px 10px;
  border-radius: 100%;
  margin-right: 0.5rem;
}
#pricing .pricing-inner-section .boxes .middle .icon-box .main-text {
  font-size: 16px;
}
#pricing .pricing-inner-section .boxes .bottom .pricing-btn {
  padding: 7px 12px;
  border-radius: 8px;
  border: none;
  background-color: #48e46f;
  border: 4px solid #48e46f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#pricing .pricing-inner-section .boxes .bottom .pricing-btn:hover {
  filter: brightness(80%);
  transition: all ease-in-out 0.3s;
  border: 4px solid #007e1f;
}

/*------------------------------------------------------------- Accordian Section ------------------------------------------------------------ */

#accordian {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#accordian .title {
  font-size: 3rem;
  margin: 2rem 0px;
  color: #1471c1;
}
#accordian .inner-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

#accordian .faq {
  max-width: 550px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border-bottom: 2px solid #1471c1;
}
#accordian .faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#accordian .faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}
#accordian .faq .question .primary-heading {
  font-size: 1.5rem;
}
#accordian .faq .question .faq-icon {
  height: 30px;
  width: 30px;
  transition: transform 0.5s ease;
}
#accordian .faq.active .answer {
  max-height: 300px;
  transition: all ease-in-out 0.5s;
}
#accordian .faq .answer .para {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
}
.faq.active .faq-icon {
  transform: rotate(180deg);
}

/* --------------------------------------------------------------------- #how-work ------------------------------------------ */

#how-work {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#how-work .inner-section {
  display: flex;
  width: 1200px;
}
#how-work .inner-section .box {
  border: 3px solid #1471c1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}
#how-work .inner-section .box .fa-brands,
.fa-duotone {
  font-size: 50px;
  color: #1471c1;
  margin-bottom: 2rem;
}
#how-work .inner-section .box .primary-heading {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}
#how-work .inner-section .box .para {
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-top: -1rem;
}

/* --------------------------------------------------------------------- features ------------------------------------------ */

#features {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./image/pic-3-scaled.jpg.webp) center center/cover;
}
#features .main-heading {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}
#features .inner-section {
  display: flex;
  width: 1200px;
  margin-top: 2rem;
}
#features .inner-section .box {
  border: 3px solid #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  background-color: transparent;
}
#features .inner-section .box:hover {
  background-color: #00000079;
}
#features .inner-section .box .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#features .inner-section .box .fa-brands {
  font-size: 50px;
  color: #1471c1;
  margin-bottom: 2rem;
}
#features .inner-section .box .primary-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
}
#features .inner-section .box .para {
  font-size: 16px;
  color: #fff;
  margin-top: -1rem;
}

/* --------------------------------------------------------------------- subject-we-cover ------------------------------------------ */

#subject-we-cover {
  height: 100vh;
  width: 100%;
  background-color: #1471c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subject-we-cover--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subject-we-cover--top .primary-heading {
  font-size: 3rem;
  color: #fff;
}
#subject-we-cover .subject-we-cover--inner-section {
  margin-top: 2rem;
  width: 1200px;
  display: flex;
}
#subject-we-cover
  .subject-we-cover--inner-section
  .subject-we-cover--inner-section---box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#subject-we-cover .subject-we-cover--inner-section .icon-box {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 75%;
}
#subject-we-cover .subject-we-cover--inner-section .icon-box .icon-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
#subject-we-cover .subject-we-cover--inner-section .icon-box .fa-solid {
  font-size: 25px;
  color: #fff;
  margin-right: 1rem;
}

/* --------------------------------------------------------------------- footer ------------------------------------------ */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background-color: #1471c1;
}
#footer .inner-section {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .inner-section .left .footer-logo {
  width: 160px;
  height: 7 0px;
  margin-bottom: 1rem;
}
#footer .inner-section .left .para {
  width: 70%;
  margin-bottom: 1rem;
  color: #fff;
}
#footer .inner-section .left .Payment-image {
  width: 300px;
}
#footer .inner-section .right {
  width: 100%;
}
#footer .inner-section .right .primary-heading {
  font-size: 2rem;
  text-align: left;
  color: #fff;
}
#footer .inner-section .right .icon-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
#footer .inner-section .right .icon-box .fa-solid {
  font-size: 20px;
  background-color: #e1e8ed;
  padding: 7px 12px;
  border-radius: 50%;
  color: #1471c1;
  font-weight: 700;
}
#footer .inner-section .right .icon-box .main-text {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.footer-main-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1471c1;
  margin-top: -1rem;
  padding-bottom: 2rem;
}
.footer-main-bottom2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100%;
  background-color: #053760;
}
.footer-main-bottom .disclaimer {
  width: 1200px;
  color: #fff;
}
.footer-main-bottom2 .disclaimer {
  width: 63%;
  color: #fff;
  text-align: center;
}





/* --------------------------------------------------------------------- Content Area ------------------------------------------ */
.contentArea {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentArea .contentArea-inner-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentArea .contentArea-inner-section .page-content {
  width: 50%;
  border: 5px solid #1471c1;
  border-radius: 100px 0px 100px 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.contentArea .contentArea-inner-section .page-content .main-text {
  font-size: 2.5rem;
  color: #1471c1;
}
.contentArea .contentArea-inner-section .page-content .main-para {
  font-size: 18px;
  text-align: center;
}
.contentArea .contentArea-inner-section .page-content-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(image/young-woman-studying-home-during-online-courses-free-information-by-herself-making-notes-min-1-1024x683-1.jpg)
      center center/cover;
  border-radius: 0px 100px 0px 100px;
  height: 90vh;
  width: 50%;
  margin-left: 1rem;
}
